
/*
Simfast Redesign IST 331 SP2020

Stylesheet for map etc. & buttons .
*/


	/* Flight Markers Block */
.leaflet-tooltip.datablock{
    background: #000000;
    border: none;
    color: white;
    font-size: 12px;
    width: 130px;
    white-space: normal;
}

	/* Size of the map */
#map {
	width: 100%; 
	height: 650px;
}

	/* Makes the map black */
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%) invert(100%);
}

	/* First box, needs CSS work. Also need to add Clock */
#box1 {
	border: 1px solid #000;
	text-align: center;
	margin-left: auto;
	margin-top: -15px;
	float: left;
	width: 20%;
	height: 120px;
	background-color: #696969;
	color: #FFFFFF;
	margin-left: 10%;
}

#startSimButton{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	border-radius: 5px;
}
#pauseSimButton{
	width: 20%;
	border-radius: 5px;
}
#resumeSimButton{
	width: 20%;
	border-radius: 5px;
}
#reloadSimButton{
	width: 20%;
	border-radius: 5px;
}
#loadFlights{
	width: 60%;
	margin-left: 20%;
	margin-right: 25%;	
	border-radius: 5px;
	margin-top: 1%;
}
#viewAirportButton{
	width: 60%;
	margin-left: 20%;
	margin-right: 25%;	
	margin-top: 9%;
	border-radius: 5px;
}
#viewKeyboardButton{
	width: 60%;
	margin-left: 20%;
	margin-right: 25%;
	border-radius: 5px;
}

#output{
	font-size: 25px;
}

	/* Second box, needs CSS work, don't need to add any more fuctions */
#box2 {
	border: 1px solid #000;
	margin-top: -15px;
	float: left;
	width: 20%;
	height: 120px;
	background-color: #696969;
	color: #FFFFFF;
}

/* There is NO box #3, box#3 is called "flightdata" no additional functions */
#box4 {
	border: 1px solid #000;
	text-align: center;
	margin-top: -15px;
	float: left;
	width: 20%;
	height: 120px;
	background-color: #696969;
	color: #FFFFFF;
	margin-right: 5%;
}

	/* The textbox + submit button for flight commands, might need adjustment after final header and nav bar is inserted */
.searchBar {

	position: relative;  /*Must stay relative to remain in place under map*/
	padding-bottom: 1%;
	z-index: 500;
	left: 0;
	overflow: auto;
}

	/* The text box for flight commands */
#commandBox {
	margin-top: auto;
	float: left;
	padding: 6px;
	background-color: rgb(26, 35, 31);
	border-style: solid;
	border-radius: 10px;
	font-size: 20px;
	/*This width is command input box across screen 74% is good for laptop (smaller) screens*/
	width: 75.5%;
	color: white;
	margin-left: 10%;
}

	/* Submit button for flight commands */
#submitButton {
	margin-left: auto;
	width: auto;
	float: left;
	background-color: white;
	border-radius: 10px;
	font-size: all;
	font-weight: bold;
	color: rgb(26, 35, 31);
	margin-top: auto;
	padding: 8px;
	margin-right: 5%;
}

	/* Changes color to green when hovering over submit button */
#submitButton:hover {
	color: white;
	background-color: green;
}

	/* No idea what this does, left it as is from original */
#submitButton:active {
	transform: translateY(2px);
}

#buttonContainer {
	text-align: center;
}


.button:hover {
	background-color: green;
}

.button:active {
	transform: translateY(2px);
}

	/* Box number 3, pending flight info */
.flightData {
	margin-top: -15px;
	overflow-y: scroll;
	color: white;
	font-size: 15px;
	font-family: sans-serif;
	border: 1px solid white;
	width: 20%;
	height: 120px;
	border: 1px solid #000;
	float: left;
	background-color: #696969;
	color: #FFFFFF;
}

	/* This is the actual white table the flight info is in */
#flightTable, td, th {
	text-align: center;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 5px;
	width: 100%;
}

table {
	margin: auto;
}

	/* Font size for "Pending Flights" */
th {
	font-size: 18px;
}


	/* Don't know what this is for, nothing happened when I changed it */
body {
    background-color:#f0f0f0;
 }

	/* The keyboard, the box that the keyboard is in is seperate */
#keyboard {
    display: none;
    position: absolute;
    padding: 8px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(26, 35, 31);
    text-align: center;
    width: 580px;
	position: fixed; 
	z-index: 500;
	bottom: 300px;
	right: 0%;
	left: 23%;
	margin-left: -425px;
	margin-right: -425px;

 }

#keyboard div {
    margin: 12px;
 }

#space {
    width: 250px !important;
 }

/*KEYBOARD COLOR FOR ENTER*/
 #enter {
 	width: 130px !important;
 	background-color: red !important;
 }

#keyboard label {
    margin-top:20px;
    font-family:serif;
    text-decoration:underline;
 }

#keyboard input {
    box-shadow:2px 2px 2px #666;
    height: 40px;
    width: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
 	margin-right: 4px;
 	background-color: rgb(255, 255, 255);
 	border-radius: 4px;
 }

.numpad {
	background-color: rgb(161, 252, 253) !important;
}

/*KEYBOARD COLOR GREEN*/
.control input{
	background-color: rgb(86, 188, 55) !important;

}

/*KEYBOARD CLR BACK SPACE COLOR*/
#row1 input{
	background-color: yellow;
}

#clear {
	font-size: 9px !important;
}

#back {
	font-size: 10px !important;
}

	/* Box for keyboard */
#keyboardContainer {
	display: inline-block;
	width: 550px;
	background-color: rgb(240, 240, 240);
	box-shadow:2px 2px 2px white;
	padding: 5px;
	border-radius: 4px;
}

#textBox input{
	margin-top: 15px;
	font-size: 55px;
	width: 790px;
}

.closeKeyboardButton {
	position: relative;
	top: 3px;
	right: 10px;
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.closeKeyboardButton:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
 }


