/*Main Stylesheet for all Site Pages. MAP IS IN SEPARATE CSS FILE */

IMG{
	max-width: 100%;
	width: 145px;
	height: 125px;
}

a{
	/*Removes hyperlink underline*/
	text-decoration: none;
	color: white;
}

h1{
	color:white;
	text-align: center;
	font-size: min(max(5px, 4vw), 30px);
	font-family: "Times", "Verdana", "Helvicta";
	text-shadow: 1px 1px black;
	margin-top: 0;
	
}

h2{
	color: white;
	font-size: 23px;
	margin-left: .1in;
	font-size: min(max(12px, 4vw), 23px);
}


p{
	font-weight: normal;
	font-size: min(max(10px, 4vw), 18px);
	margin-left: .1in;
}



body{
	background-color: gray;
	
	/* THIS GIVES THE FONT STYLE FOR THE WHOLE PAGE. BROWSER TRIES 2nd and 3rd if needed*/
	font-family: "Segoe UI", "Arial", "sans-serif";
	margin: 0 0 0 0;
	min-height: 100%;
}

html{
	height: 100%;
}

hr{
	border-top: 1px;
	width: 100%;
	text-align: center;
}

footer {
   width: 100%;
   background-color: #666;
   color: white;
   text-align: center;
   font-size: min(max(8px, 4vw), 12px);
   /*MUST KEEP THIS POSITION RELATAVE, OR FOOTER LOOKS OFF*/
   position: relative;
   padding-top: 1%;
   padding-bottom: .5%;
}
